
.login-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    font-family: Arial, sans-serif;
}

.left-section {
    width: 50%;
    background-color: #fff; /* Белый фон */
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 700px; /* Увеличен логотип */
    overflow: hidden;
    border-radius: 5%;
}

.right-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.logo-small {
    width: 190px; /* Немного увеличен */
    margin-bottom: 10px;

}
.login-form {
    width: 800px; /* Увеличена форма */
    background: #f9f9f9;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgb(255, 255, 255);
}
.input-group {
    width: 100%;
    display: flex;
    flex-direction: column; /* Убедиться, что элементы идут друг за другом */
    align-items: flex-start; /* Выравнивание по левому краю */
    margin-bottom: 15px; /* Добавить отступ */
}

.input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

.input-group input {
    width: 100%; /* Сделает поля растянутыми */
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
}


.checkbox-group {
    display: flex;
    align-items: center;
    margin-bottom: 70px;
}

.checkbox-group input {
    margin-right: 10px;
}

.login-button {
    width: 100%;
    padding: 12px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 17px;
    cursor: pointer;
    font-size: 16px;
}

.login-button:hover {
    background-color: #444;
}